.answers {
    margin-top: 20px;
    margin-bottom: 60px;
}

.test-pre-title {
    font-size: 20px;
    line-height: 24px;
    color: #6933DC;
}

.test-pre-title span {
    color: #DCDCF3;
    font-size: 20px;
}

.test-pre-title span img {
    margin: 0 15px;
}

.rights-answers-title {
    color: #6933DC;
    font-size: 54px;
    font-family: "museosanscyrl-Bold", sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
}

.rights-answers-title span {
    color: #333;
}

.test-question-options {
    min-height: auto;
    margin-bottom: 100px;
}


.right-answer-color label {
    color: #5FDC33;
}


.right-answer-color input[type="radio"] {
    border: 3px solid #5FDC33;
    border-radius: 50%;

}

.right-answer-color input[type="radio"]::before {
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #5FDC33;
    transition: .2s ease transform;
    transform: scale(0);

}


.right-answer-color input[type="radio"]:checked::before {
    transform: scale(1);
}

.wrong-answer-color label  {
    color: #DC3333;
}

.wrong-answer-color input[type="radio"] {
    border: 3px solid #DC3333;
    border-radius: 50%;

}

.wrong-answer-color input[type="radio"]::before {
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #DC3333;
    transition: .2s ease transform;
    transform: scale(0);
}


.wrong-answer-color input[type="radio"]:checked::before {
    transform: scale(1);
}

.answer-info {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
}

#answer-info {
    color: #6933DC;
}